[Unit]
Description=Start Ultroid Userbot on Network Connect
After=network-online.target

[Service]
User=icecube
ExecStart=/home/$USER/MyPi/script/ultroid.sh

[Install]
WantedBy=multi-user.target

